<div class="container">    
    <form method="POST" action="/categories/save">
        <input type="text" class="form-control" name="title" id="title" placeholder="Defina o titulo da categoria">
        <br>
        <button class="btn btn-primary">Cadastrar nova Categoria</button>
    </form>
</div>




